[Unit]
Description=Discord Updater
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/discord-updater
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target